.death-saves .pips {
    gap: 2px;
}

.death-saves .pips[data-prop="system.attributes.death.success"] {
    padding-left: 5px;
    padding-right: 0;
}

.death-saves .pips[data-prop="system.attributes.death.failure"] {
    padding-left: 0;
    padding-right: 5px;
}

.custom-dnd5e.dnd5e2 .death-saves .pips[data-prop="system.attributes.death.success"] {
    flex-wrap: wrap;
    justify-content: center;
}

.custom-dnd5e.dnd5e2 .death-saves .pips[data-prop="system.attributes.death.failure"] {
    flex-wrap: wrap;
    justify-content: center;
}